{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row mt-5 mb-5">

        <!-- Formulaire d'inscription -->
        <div class="col-lg-6 shadow p-4">
            <h3 class="mb-4">Créer un Compte</h3>
            <form method="POST" action="{% url 'register' %}">
                {% csrf_token %}

                <div class="form-group">
                    <label for="first_name">Nom</label>
                    <input type="text" name="last_name" class="form-control" id="last_name" placeholder="Entrez votre nom" required>
                </div>

                <div class="form-group">
                    <label for="first_name">Prénom</label>
                    <input type="text" name="first_name" class="form-control" id="first_name" placeholder="Entrez votre prénom" required>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" class="form-control" id="email" placeholder="Entrez votre email" required>
                    <small class="form-text text-muted">Nous ne partagerons jamais votre email.</small>
                </div>

                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" name="password" class="form-control" id="password" placeholder="Entrez votre mot de passe" required>
                </div>

                <div class="form-group">
                    <label for="password2">Répétez votre mot de passe</label>
                    <input type="password" name="password2" class="form-control" id="password2" placeholder="Répétez le mot de passe" required>
                </div>

                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="terms" name="terms" required>
                    <label class="form-check-label" for="terms">J’accepte les conditions d’utilisation</label>
                </div>

                <button type="submit" class="btn btn-primary">Créer un compte</button>
            </form>
        </div>

        <!-- Image -->
        <div class="col-lg-6 shadow p-4">
            <img src="https://hotel-bakoua.fr/assets/uploads/2016/07/1_DSC_5421.jpg" 
                 alt="Hôtel de luxe" class="img-fluid shadow rounded">
        </div>

    </div>
</div>

{% endblock content %}
